.navbar-dark .navbar-nav .nav-link{
    color:rgb(255,255,255)!important;
    font-weight:400;
}



/* Set fixed height for carousel images */
.carousel-item img {
  display: block;
  width: 100%;
  height: auto;          /* adjusts automatically */
  max-height: 400px;     /* controls height limit */
}

/* .navbar-nav  .navbar-dark .nav-link{
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: 400;
    --bs-nav-link-color: rgb(255,255,255);
    --bs-nav-link-hover-color: var(--bs-navbar-hover-color);
    --bs-nav-link-disabled-color: var(--bs-navbar-disabled-color);

} */

/* .nav-link {
    font-weight: 400;
    color: rgb(255,255,255);
} */